<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}PAYFORT Inspector &mdash; Collect, inspect HTTP notifications{% endblock %}</title>
    {% block icon %}<link href="/static/img/logo.png" rel="shortcut icon" />{% endblock %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">-->
    <link href="/static/css/responsive.css" rel="stylesheet" media="screen">
    <link href="/static/css/styles.css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link type="text/css" href="/static/css/prettify.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify.js"></script>
    {% block head %}{% endblock %}

  </head>
  <body onload="prettyPrint()">
    <div class="payfort-wrap" style="height: 40px">
        <div class="row-fluid">

<div class="row-fluid">

{% if session['logged_in'] %}
   <ul class="nav-menu">
       <li><strong>You're logged in as {{ session['user_name'] }}</strong></li>
       <li> <a href="/"><strong>Home</strong></a> </li>
       {% if session['user_role']=='admin' %}
       <li> <a href="/_admin"><strong>Administrator</strong></a> </li>
       <!--<li> <a href="/_config"><strong>Configurations</strong></a></li>-->
       {% endif %}

       <li> <a href="https://www.payfort.com" title="Payfort Testing Tools"><strong> </strong></a>  <a href="mailto:adaoud@payfort.com"><strong>Contact us!</strong></a></li>
       <li> <a href="/_logout"><strong>Logout</strong></a></li>
  </ul>

{% else %}
<form class="nav-menu-left" action="/login" method="POST">

    <ul class="nav-menu">
        <!--<li> <a href="/_user_login"><strong>Login</strong></a></li>-->
        <li> <a href="https://www.payfort.com" title="Payfort Testing Tools"><strong> </strong></a>  <a href="mailto:adaoud@payfort.com"><strong>Contact us!</strong></a></li>
    </ul>

</form>
{% endif %}

</div>
                </nav>
        </div>
    </div>

    <div class="header-wrap">
        <header class="row-fluid">
            <div class="span12">

                <h1 class="logo" style="line-height: 20px">
                <a href="/"><img src="/static/img/logo-2x.png" height="60" width="120" /></a>
<a href="/"><span class="logo-accent"><br>Inspector<br /></span></a></h1>

                <nav>

                    <ul class="nav-menu">
                        <li>{% block binurl %}{% endblock %}</li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <div id="content" class="row-fluid">
      {% set width = 12 %}
      {% if recent %} {% set width = 10 %} {% endif %}
      <div class="span{{width}} content-wrap">
          {% block content %}
          {% endblock %}
      </div>


{% block body %}{% endblock %}

      {% if recent %}
        <div class="span2">
          {% block sidebar %}
            <h5><i class="icon-time" style="margin-left: 10px"></i><strong> Recent viewed</strong></h5>
          <ul id="recent" style="padding-left: 10px;">
            {% for bin in recent %}
            <li>
              <a href="/{{bin.name}}?inspect"><i class="icon-circle" style="color: rgb{{bin.color}}"></i></a>
              <a href="/{{bin.name}}?inspect">{{bin.name}}</a> {% if bin.private %}<i class="icon-lock"></i>{% endif %}
              ({{bin.request_count}})
            </li>
            {% else %}
            <p style="margin-left: -24px; color: gray;">
              No recent inspectors.
            </p>
            {% endfor %}
          </ul>
          {% endblock %}
        </div>
        {% endif %}
    </div>




    <div class="footer-wrap">
        <footer class="row-fluid">
            <div class="span12">
                <div class="footer-logo">
                     <a href="https://www.payfort.com" title="Learn More"><img src="/static/img/payfort.png"></a>
                </div>
                <h3 class="footer-slogan">
                 <br> <font color="white">Inspector is brought to you by PAYFORT Quality Team.<font> <br>
                </h3>

                <ul class="footer-menu">
                    <!--<li class="footer-link footer-title">PAYFORT</li>-->
                    <!--<li class="footer-link"><a href="https://www.payfort.com/blog/" title="PAYFORT Blog">Blog</a></li>-->
                </ul>
                <p class="copyright"> <font color="white" >&copy; 2018 PAYFORT an amazon company - </font><a href="https://www.payfort.com/privacy-policy/">Privacy Policy</a> </p>
            </div>
        </footer>
    </div>

    {% block script %}
    {% endblock %}
  </body>
</html>
