{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block content %}

{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<div class="row-fluid">
    <div class="banner-hero">
<form action="/_login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input class="input-xlarge" type="text" placeholder="Username" name="username" style="border-color: rgb(40, 170, 60); border-width: 2px;" autofocus>
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input class="input-xlarge" type="password" placeholder="Password" name="password" style="border-color: rgb(40, 170, 60); border-width: 2px;">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Log in" class="btn btn-success" >


 {% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}

<h4 style="color:red;" class="login-field-icon fui-lock" >{{ message }} </h4>

    {% endfor %}

{% else %}
<h4 style="color:white;" class="login-field-icon fui-lock" >_</h4>
  {% endif %}
{% endwith %}
			</div>
		</div>
	</div>
</form>
</div>
</div>
{% endif %}

{% endblock %}
